.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.view-height {
  max-height: 50vh;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.overview-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.25rem;
  padding: 1rem;
  flex-direction: column;
  border: 1px solid white;
  width: 100%;
  background-color: rgba(251, 251, 251, 0.2);
}
